.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image_container{
  position:absolute;
  height: 70%;
  width: 70%;
}
.title_box{
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.7;
  margin-left:25%;
  margin-top: 15%;
}
.subtitle_box{
  background-color: white;
  width: 80%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  border-radius: 8px;
  margin-left:12%;
  margin-top: 40%;
}